@using SmartWalk.Server.Records
@using SmartWalk.Server.ViewModels

@{
    Style.Require("SmartWalk.Host");
    
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();
    
    var venue = (EntityVm) Model;
}

<div id="add-venue-form" title="@T("Add Host")" add-venue-url="@Url.Action("SaveOrAdd", "Venue", new {area = "SmartWalk.Server"})">
    @Html.AntiForgeryTokenOrchard()
    <div id="venue-panel">
        <div id="description-panel">
            <label for="name">@T("Name")</label><input type="text" id="name" data-bind="value: Name"/>            
            <label for="picture">@T("Picture")</label><input type="text" id="picture" data-bind="value: Picture"/>
            <label for="description">@T("Description")</label><textarea id="description" data-bind="value: Description"></textarea>
        </div>
        
        <div id="address-panel">
            <table data-bind="visible: Addresses().length > 0">
                <thead>
                    <tr>
                        <th>Address</th><th>Lattitude</th><th>Longitude</th><th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Addresses">
                    <tr>
                        <td><input type="text" data-bind="value: Address"/></td>
                        <td><input type="text" data-bind="value: Latitude"/></td>
                        <td><input type="text" data-bind="value: Longitude"/></td>
                        <td><a href="#" data-bind="click: $root.removeAddress">Remove</a></td>
                    </tr>    
                </tbody>            
            </table>
            <button data-bind="click: addAddress">@T("Add address")</button>
            <div id="actions-panel">
                <table>
                    <tr>
                        <td>
                            @{ using(Html.BeginForm("Delete", "Venue", FormMethod.Get)) {
                                    <input type="hidden" name="entityId" value="@venue.Id" />
                                    <input type="submit" value="@T("Delete")" />
                            }}
                        </td>
                        <td>
                            <form method="get" action="@Url.Action("List")">
                                <button type="submit">@T("Cancel")</button>
                            </form>
                        </td>
                        <td>
                            <button data-bind="click: saveOrAdd">@T("Save")</button>
                        </td>
                    </tr>
                </table>                                                               
            </div>
            <!--<textarea id="tasks" data-bind="value: ko.toJSON($root)"></textarea>-->
        </div>
    </div>
</div>


<script>
    $(function () {
        var vmVenue = new EntityViewModel(@Html.Raw(Json.Encode(venue)));
        vmVenue.saveOrAdd = function () {
            $("#venue-panel").html('<img class="loading" src="@Href("../../Images/loading.gif")"/>');
            var token = '@Html.AntiForgeryTokenValueOrchard()';
            var headers = {};
            // other headers omitted
            headers['__RequestVerificationToken'] = token;

            var ajdata = self ? ko.toJSON(this) : null;

            var urlUpdate = $("#add-venue-form").attr("add-venue-url");

            var config = {
                async: true,
                url: urlUpdate,
                type: "POST",
                headers: headers,
                data: ajdata,
                dataType: "json",
                cache: false,
                contentType: "application/json; charset=utf-8",
                __RequestVerificationToken: token,
                error: function (e) {
                    window.location.href = "@Url.Action("List")";
                },
                success: function (data) {
                    window.location.href = "@Url.Action("List")";
                }
            };
            $.ajax(config);
        };

        ko.applyBindings(vmVenue, document.getElementById('venue-panel'));
    });
</script>