
@using SmartWalk.Server.ViewModels

@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("SmartWalk.Host");

    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();

    var items = (IList<EntityVm>)Model;
}

<div id="entity-items" data-bind="visible: Items().length > 0">
    <p>@T("Venues")</p>    
    @{ using (Html.BeginRouteForm("CreateVenue", FormMethod.Get))
       {
            <input type="submit" value="@T("Add venue")" />
       }
    }
    <table>
        <thead>
            <tr>
                <th><span>@T("Name")</span></th>
                <th><span>@T("Action")</span></th>                
            </tr>
        </thead>
        <tbody data-bind='template: {name: "EntityItemTemplate", foreach: Items() }'></tbody>
    </table>    
</div>

<script type="text/html" id="EntityItemTemplate">
    <tr data-bind="css: {'alt': $index() % 2 === 1}">        
        <td><span data-bind="text: Name"></span></td>        
        <td><a data-bind="attr: {href: '@Url.Action("Edit")/' + Id()}">Edit</a></td>
    </tr>           
</script>

<script>       
    function VenuesViewModel() {
        var self = this;
        
        self.Items = ko.observableArray($.map(@Html.Raw(Json.Encode(items)), function(item) { return new EntityViewModel(item); }));
    }

    ko.applyBindings(new VenuesViewModel(), document.getElementById('entity-items'));
</script>