@using SmartWalk.Server.Records
@using SmartWalk.Server.ViewModels

@{
    Style.Require("SmartWalk.Host");
    
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();
    
    var host = (EntityVm) Model;
}

<div id="add-host-form" title="@T("Add Host")" add-host-url="@Url.Action("SaveOrAdd", "Host", new {area = "SmartWalk.Server"})">
    @Html.AntiForgeryTokenOrchard()
    <div id="host-panel">
        <div id="description-panel">
            <label for="name">@T("Name")</label><input type="text" id="name" data-bind="value: Name"/>            
            <label for="picture">@T("Picture")</label><input type="text" id="picture" data-bind="value: Picture"/>
            <label for="description">@T("Description")</label><textarea id="description" data-bind="value: Description"></textarea>
        </div>
        
        <div id="contacts-panel">
            <table data-bind="visible: Contacts().length > 0">
                <thead>
                    <tr>
                        <th>Type</th><th>Title</th><th>Contact</th><th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Contacts">
                    <tr>
                        <td>
                            @Html.DropDownList("Type", Enum.GetNames(typeof(ContactType))
                                                           .Select(u => new SelectListItem
                                                           {                                                       
                                                               Text = @T(u).ToString(),
                                                               Value = ((int)Enum.Parse(typeof(ContactType), u)).ToString()
                                                           }), new Dictionary<string, object> { { "data-bind", "value:Type" } })                        
                        </td>
                        <td><input type="text" data-bind="value: Title"/></td>
                        <td><input type="text" data-bind="value: Contact"/></td>
                        <td><a href="#" data-bind="click: $root.removeContact">Remove</a></td>
                    </tr>    
                </tbody>            
            </table>
            <button data-bind="click: addContact">@T("Add contact")</button>
            <div id="actions-panel">
                <table>
                    <tr>
                        <td>
                            @{ using(Html.BeginForm("Delete", "Host", FormMethod.Get)) {
                                    <input type="hidden" name="entityId" value="@host.Id" />
                                    <input type="submit" value="@T("Delete")" />
                            }}                            
                        </td>
                        <td>
                            <form method="get" action="@Url.Action("List", "Host", new {area = "SmartWalk.Server"})">
                                <button type="submit">@T("Cancel")</button>
                            </form>
                        </td>
                        <td>
                            <button data-bind="click: saveOrAdd">@T("Save")</button>
                        </td>
                    </tr>
                </table>                                                               
            </div>
            <!--<textarea id="tasks" data-bind="value: ko.toJSON($root)"></textarea>-->
        </div>
    </div>
</div>


<script>
    $(function () {
        var vmHost = new EntityViewModel(@Html.Raw(Json.Encode(host)));
        vmHost.saveOrAdd = function () {
            $("#host-panel").html('<img class="loading" src="@Href("../../Images/loading.gif")"/>');
            
            var ajdata = self ? ko.toJSON(this) : null;
            var urlUpdate = $("#add-host-form").attr("add-host-url");

            var config = {
                async: true,
                url: urlUpdate,
                type: "POST",
                data: ajdata,
                dataType: "json",
                cache: false,
                contentType: "application/json; charset=utf-8",
                error: function (e) {
                    window.location.href = "@Url.Action("List")";
                },
                success: function (data) {
                    window.location.href = "@Url.Action("List")";
                }
            };
            $.ajax(config);
        };

        ko.applyBindings(vmHost, document.getElementById('host-panel'));
    });
</script>