@using SmartWalk.Server.ViewModels
@{
    Style.Require("SmartWalk");

    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels.Entity.Extended").AtHead();
    
    var host = (EntityVm)Model;
    var actionCaption = host.Id == 0 ? T("Add <span class=\"hidden-xs\">Organizer</span>") : T("Save <span class=\"hidden-xs\">Organizer</span>");
}
<div id="edit-host-form"  
     save-host-url="@Url.Action("SaveOrAdd", "Host", new {area = "SmartWalk.Server"})" 
     get-address-url ="@Url.Action("GetAddress", "Event", new {area = "SmartWalk.Server"})"
     save-address-url ="@Url.Action("SaveAddress", "Event", new {area = "SmartWalk.Server"})"
     delete-addresses-url ="@Url.Action("DeleteAddresses", "Event", new {area = "SmartWalk.Server"})"
     get-contact-url ="@Url.Action("GetContact", "Event", new {area = "SmartWalk.Server"})"
     save-contact-url ="@Url.Action("SaveContact", "Event", new {area = "SmartWalk.Server"})"
     delete-contacts-url ="@Url.Action("DeleteContacts", "Event", new {area = "SmartWalk.Server"})"
     validate-host-url = "@Url.Action("ValidateModel", "Host", new {area = "SmartWalk.Server"})"
     validate-address-url = "@Url.Action("ValidateAddress", "Event", new {area = "SmartWalk.Server"})"
     validate-contact-url = "@Url.Action("ValidateContact", "Event", new {area = "SmartWalk.Server"})">
        @Html.AntiForgeryTokenOrchard()
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group" data-bind="validationElement: Name">
                    <label class="titleLabel" for="orgNameTextInput">@T("Organizer Name"):</label>
                    <input id="orgNameTextInput" class="form-control" type="text" placeholder="@T("Type organizer name...")" data-bind="value: Name" />
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-success btn-top" data-bind="click: saveOrAdd">@actionCaption</button>
            </div>
        </div>
        
        @Html.Partial("../Entity/EditTemplate")

        <div class="row double-gap">
            <div class="col-xs-4">
        @if (host.Id != 0) {
            using(Html.BeginForm("Delete", "Host", FormMethod.Get)) {
                <input type="hidden" name="entityId" value="@host.Id" />
                <button type="submit" class="btn btn-danger" >@T("Delete") <span class="hidden-xs">@T("Organizer")</span></button>
            } 
        }
            </div>
            <div class="col-xs-8 text-right">                
                <button type="submit" class="btn btn-default" data-bind="click: cancel">@T("Cancel")</button>
                <button type="button" class="btn btn-success" data-bind="click: saveOrAdd">@actionCaption</button>
            </div>
        </div>   
    </div> 

@Html.Partial("../Entity/Templates")

<script>
    $(function () {
        var formName = "#edit-host-form";
        var form = $(formName);

        var data = @Html.Raw(Json.Encode(host));
        
        var settings = settings || [];
        settings = $.extend(settings, {
            pictureLengthValidationMessage: '@T("Picture url can not be longer than 255 characters.")',
            picturePatternValidationMessage: '@T("Picture url does not match url pattern.")',

            addressMessages: {
                addressLengthValidationMessage: '@T("Address can not be longer than 255 characters.")',
                addressRequiredValidationMessage: '@T("Address can not be empty!")',
                addressTipValidationMessage: '@T("Address tip can not be longer than 255 characters.")',
            },
            
            contactMessages: {
                contactLengthValidationMessage: '@T("Contact can not be longer than 255 characters.")',
                contactRequiredValidationMessage: '@T("Contact can not be empty!")',
                contactTitleValidationMessage: '@T("Contact title can not be longer than 255 characters.")',
                contactWebValidationMessage: '@T("Contact does not match url pattern.")',
                contactEmailValidationMessage: '@T("Contact does not match email pattern.")',
                contactPhoneValidationMessage: '@T("Contact does not match phone pattern.")',
            },

            entityFormName: formName,
            entityCancelEvent: EntityViewModelExtended.HOST_CANCEL_EVENT,
            entitySaveEvent: EntityViewModelExtended.HOST_SAVE_EVENT,
            
            validationUrl: form.attr("validate-host-url"),

            entitySaveUrl: form.attr("save-host-url"),

            addressGetUrl: form.attr("get-address-url"),
            addressSaveUrl: form.attr("save-address-url"),
            addressDeleteUrl: form.attr("delete-addresses-url"),
            addressValidationUrl: form.attr("validate-address-url"),
            addressView: "ViewAddressTemplate",
            addressEditView: "EditAddressTemplate",

            contactGetUrl: form.attr("get-contact-url"),
            contactSaveUrl: form.attr("save-contact-url"),
            contactDeleteUrl: form.attr("delete-contacts-url"),
            contactValidationUrl: form.attr("validate-contact-url"),
            contactView: "ViewContactTemplate",
            contactEditView: "EditContactTemplate",
            contactTypes: ["@T("E-mail")", "@T("Web")", "@T("Phone")"],
        });

        var vmHost = new EntityViewModelExtended(settings, data);
        
        ko.applyBindings(vmHost, document.getElementById('edit-host-form'));
    });
</script>