@using SmartWalk.Server.Records
@using SmartWalk.Server.ViewModels

@{
    Style.Require("SmartWalk.Host");
    
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.Host").AtHead();
    
    var host = (EntityVm) Model;
}

<div id="add-host-form" title="@T("Add Host")" add-host-url="@Url.Action("Add", "Host", new {area = "SmartWalk.Server"})">
    <div id="host-panel">
        <div id="description-panel">
            <label for="name">@T("Name")</label><input type="text" id="name" data-bind="value: Name"/>            
            <label for="picture">@T("Picture")</label><input type="text" id="picture" data-bind="value: Picture"/>
            <label for="description">@T("Description")</label><textarea id="description" data-bind="value: Description"></textarea>
        </div>
        
        <div id="contacts-panel">
            <table data-bind="visible: Contacts().length > 0">
                <thead>
                    <tr>
                        <th>Type</th><th>Title</th><th>Contact</th><th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Contacts">
                    <tr>
                        <td>
                            @Html.DropDownList("Type", Enum.GetNames(typeof(ContactType))
                                                           .Select(u => new SelectListItem
                                                           {                                                       
                                                               Text = @T(u).ToString(),
                                                               Value = ((int)Enum.Parse(typeof(ContactType), u)).ToString()
                                                           }), new Dictionary<string, object> { { "data-bind", "value:Type" } })                        
                        </td>
                        <td><input type="text" data-bind="value: Title"/></td>
                        <td><input type="text" data-bind="value: Contact"/></td>
                        <td><a href="#" data-bind="click: $root.removeContact">Remove</a></td>
                    </tr>    
                </tbody>            
            </table>
            <button data-bind="click: addContact, enable: Contacts().length < 5">@T("Add contact")</button>
        </div>
    </div>
</div>

<script>
    $(function () {
        var vmHost = new HostViewModel(@Html.Raw(Json.Encode(host)));
        ko.applyBindings(vmHost, document.getElementById('host-panel'));
    });
</script>