@using SmartWalk.Server.ViewModels
@model ViewParametersVm
@{
    Style.Require("SmartWalk");
    Style.Require("TextCollapse");

    Script.Require("jQueryUI").AtFoot();
    Script.Require("SmartWalk.ViewModels.Event").AtFoot();
    Script.Require("ImageScale").AtFoot();
    Script.Require("TextCollapse").AtFoot();
    
    var host = (EntityVm)Model.Data; 
}
<div id="view-host-form" get-host-events="@Url.Action("GetEvents", "Host", new {area = "SmartWalk.Server"})">
    @Html.AntiForgeryTokenOrchard()
	<div class="bg-image-container page-header-image">
		<div class="header big">
		    <h2>
		    @if (!Model.IsReadOnly) {
		        <button type="button" class="btn" id="btn-edit-venue">@T("Edit Organizer")</button>
		    }
		        @host.DisplayName
		    </h2>
		@if (!string.IsNullOrEmpty(host.Picture)) {
		    <img class="scale" data-scale="best-fill" data-align="center" src="@host.Picture" />
		}
		</div>
	</div>
        
@Html.Partial("../Entity/View", Model)
           
</div>

@using (Script.Foot())
{
<script type="text/javascript">
    $(document).ready(function() {
        $( "#btn-edit-venue" ).click(function() {
            window.location.href = "@Url.Action("View")" + "/edit";
        });

        function eventsViewModel() {
            var self = this;

            self.EventItems = ko.observableArray();

            self.loadData = function() {
                var ajdata = ko.toJSON({ entityId: @host.Id });
                var urlUpdate = $("#view-host-form").attr("get-host-events");

                ajaxJsonRequest(ajdata, urlUpdate, function(data) {
                    if (data) {
                        self.EventItems($.map(data, function(item) { return new EventViewModel(item); }));                            
                    }
                });                
            };

            self.loadData();            
        }


        ko.applyBindings(new eventsViewModel(), document.getElementById('view-venue-form'));
    });        
</script>
}