@{
    Style.Require("SmartWalk.AddPlace");
    Style.Require("SmartWalk.GoogleMaps");
    //Style.Require("Mappy");
    
    Script.Require("SmartWalk.GoogleMaps").AtHead();
    //Script.Require("Mappy").AtHead();    
}

<div id="add-place-form" title="@T("Add place")">
    
    <div id="add-places" class="small-map"></div>
    <div id="places-panel">
        <div id="region-panel">
            <label for="country">@T("Country")</label>    
            <input type="text" id="country" data-bind="value:Country"/>

            <label for="state">@T("State")</label>
            <input type="text" id="state" data-bind="value: State"/>

            <label for="city">@T("City")</label>
            <input type="text" id="city" data-bind="value: City"/>    
        </div>
        
        <div id="address-panel">
            <label for="lattitude">@T("Lattitude")</label><input type="text" id="lattitude" data-bind="value: Lattitude"/>
            <label for="longitude">@T("Longitude")</label><input type="text" id="longitude" data-bind="value: Longitude"/>
            <label for="address">@T("Address")</label><input type="text" id="address" data-bind="value: Address"/>    
        </div>
        
        <div id="venue-panel">
            
            
        </div>
        
        <div id="description-panel">
            <label for="name">@T("Name")</label><input type="text" id="name" data-bind="value: Name"/>            
            <label for="picture">@T("Picture")</label><input type="text" id="picture" data-bind="value: Picture"/>
            <label for="description">@T("Description")</label><textarea id="description" data-bind="value: Description"></textarea>
        </div>

    </div>
</div>

<script>   
    $(function () {        
        var map;
        var autocomplete;
        
        function initializeGoogleRaw() {
            var mapContainer = $('#add-place-form');
            var placeholder = '@T("Enter a location")';
            var initSearch = '@T("San Francisco")';

            var mapOptions = {
                center: new google.maps.LatLng(-33.8688, 151.2195),
                zoom: 13
            };

            map = new google.maps.Map(document.getElementById('add-places'), mapOptions);

            var id = "pac-input";

            var searchBox = $("#" + id);
            if (searchBox.length > 0) {
                return;
            }
            // create the "search" box and add to document (in body)
            var html = "<input type='text' id='" + id + "' class='controls' autocomplete='off' ";
            html += "placeholder='";
            if (placeholder)
                html += placeholder;
            else
                html += "Search ...";
            
            html += "' ";
            if (initSearch && initSearch.length > 0)
                html += " value='" + initSearch + "'";
            html += " />";

            $(html).appendTo(mapContainer);
            var input = (document.getElementById('pac-input'));
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);            
            autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map
            });            

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17); // Why 17? Because it looks good.
                }
                marker.setIcon(({
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(35, 35)
                }));

                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);                

                var ac = place.address_components;
                var street = findPart(ac, "street_address");
                
                if (street === "")
                    // not present so fallback to "route"
                    street = findPart(ac, "route");

                var town = findPart(ac, "locality"),
                        area = findPart(ac, "administrative_area_level_1"),
                        postCode = findPart(ac, "postal_code");

                var country = findPart(ac, "country");

                vmPlace.Country(country);
                vmPlace.State(area);
                vmPlace.City(town);

                vmPlace.Lattitude(place.geometry.location.lat());
                vmPlace.Longitude(place.geometry.location.lng());

                vmPlace.Name(place.name);
                
                if(street != '')
                    vmPlace.Address(street + ", " + area + ", " + town + ", " + postCode);

                //vm.Picture(place.icon);
            });
        }

        
        /// <summary>
        /// Convenience function for finding parts of the address
        /// </summary>
        function findPart(addressParts, typeName, getShortVersion) {
            if (addressParts == null || addressParts.length == 0)
                // address not available
                return "";

            var value = "";            
            for (var i = 0; i < addressParts.length; i++) {
                var item = addressParts[i], found = false;

                for (var j = 0; j < item.types.length; j++) {
                    var addrType = item.types[j];

                    if (addrType.toLowerCase() == typeName.toLowerCase()) {
                        found = true;
                        break;
                    }
                } // types                

                if (found) {
                    value = (getShortVersion
						? item.short_name
						: item.long_name
					);
                    break;
                }

            }            

            return value;

        } // findPart
        
        $("#add-place-form").dialog({
            modal: true,
            autoOpen: false,
            //dialogClass: 'noTitleStuff',
            width: 640,
            height: 800,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            buttons: {
                '@T("Cancel")': function () {
                    $("#add-place-form").dialog("close");

                },
                '@T("Save")': function () {
                    $("#add-place-form").dialog("close");
                }
            },
        });

        $("#add-place-button").click(function () {
            $("#add-place-form").dialog("open");
            //initialize();
            initializeGoogleRaw();
            autocomplete.setBounds(map.getBounds());
                        
            ko.applyBindings(vmPlace, document.getElementById('places-panel'));
        });
    });

    var vmPlace = new PlaceViewModel({ Country: "USA" });

    function PlaceViewModel(data) {
        var self = this;
        
        self.Country = ko.observable(data.Country);
        self.State = ko.observable(data.State);
        self.City = ko.observable(data.City);
        
        self.Lattitude = ko.observable(data.Lattitude);
        self.Longitude = ko.observable(data.Longitude);
        self.Address = ko.observable(data.Address);
        
        self.Name = ko.observable(data.Name);
        self.Description = ko.observable(data.Desctiption);
        self.Picture = ko.observable(data.Picture);
    }
    
</script>