@using SmartWalk.Server.ViewModels
@using SmartWalk.Server.Records

@Display(New.DatePickerLocalization())

@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("SmartWalk.ListEvent");

    //Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI").AtHead();
    Script.Require("ko.datetime").AtHead();

    var eventItem = (EventMetadataFullVm)Model;
}
<div class="ui-widget">
    <button id="add-place-button">@T("Add place")</button>
</div>

@Html.Partial("AddPlaces")

<div id="event-item">
    <div id="metadata-panel">
        @Html.LabelFor(m => eventItem.EventMetadata.RegionId, @T("Region"))
        @Html.DropDownListFor(m => eventItem.EventMetadata.RegionId, eventItem.Regions.Select(u => new SelectListItem
                       {
                           Selected = u.Id == eventItem.EventMetadata.HostId,
                           Text = u.DisplayName,
                           Value = u.Id.ToString()
                       }), new Dictionary<string, object> { { "data-bind", "value: RegionId, event: {blur: RegionIdOnBlur}" } })

        @Html.LabelFor(m => eventItem.EventMetadata.HostId, @T("Host"))
        @Html.DropDownListFor(m => eventItem.EventMetadata.HostId, eventItem.Hosts.Select(u => new SelectListItem
                       {
                           Selected = u.Id == eventItem.EventMetadata.HostId,
                           Text = u.DisplayName,
                           Value = u.Id.ToString()
                       }), new Dictionary<string, object> { { "data-bind", "value: HostId, event: {blur: HostIdOnBlur}" } })
        
        <label for="title">@T("Title")</label>
        <input type="text" id="title" data-bind="value: Title"/>
        
        <label for="description">@T("Description")</label>
        <textarea id="description" data-bind="value: Description"></textarea>
        
        <label for="start-time">@T("Start time")</label>
        <input type="text" data-bind="datepicker: StartTime, datepickerOptions: { showAnim: '' }" />
        
        <label for="end-time">@T("End time")</label>
        <input type="text" id="end-time" data-bind="datepicker: EndTime, datepickerOptions: { showAnim: '' }"/>
        
        @Html.LabelFor(m => eventItem.EventMetadata.CombineType, @T("Combine type"))
        @Html.DropDownListFor(m => eventItem.EventMetadata.CombineType,
                                               Enum.GetNames(typeof(CombineType))
                                                   .Select(u => new SelectListItem
                                                   {
                                                       Selected = (int)Enum.Parse(typeof(CombineType), u) == eventItem.EventMetadata.CombineType,
                                                       Text = @T(u).ToString(),
                                                       Value = ((int)Enum.Parse(typeof(CombineType), u)).ToString()
                                                   }), new Dictionary<string, object> { { "data-bind", "value:CombineType, event: {blur: CombineTypeOnBlur}" } })
        
        @Html.LabelFor(m => eventItem.EventMetadata.IsMobileReady, @T("Is mobile ready"))
        @Html.CheckBoxFor(m => eventItem.EventMetadata.IsMobileReady, new Dictionary<string, object> { { "data-bind", "checked: IsMobileReady, event: {blur: IsMobileReadyOnBlur}" } })
        
        @Html.LabelFor(m => eventItem.EventMetadata.IsWidgetReady, @T("Is widget ready"))
        @Html.CheckBoxFor(m => eventItem.EventMetadata.IsWidgetReady, new Dictionary<string, object> { { "data-bind", "checked: IsWidgetReady, event: {blur: IsWidgetReadyOnBlur}" } })
    </div>
</div>

<script language="javascript">   
    function EventViewModel(data) {
        var self = this;

        self.Id = ko.observable(data.Id);
        self.HostId = ko.observable(data.HostId);
        self.RegionId = ko.observable(data.RegionId);
        self.HostName = ko.observable(data.HostName);

        self.Title = ko.observable(data.Title);
        self.Description = ko.observable(data.Description);
        self.StartTime = ko.observable(data.StartTime);
        self.EndTime = ko.observable(data.EndTime);

        self.CombineType = ko.observable(data.CombineType);
        self.IsMobileReady = ko.observable(data.IsMobileReady);
        self.IsWidgetReady = ko.observable(data.IsWidgetReady);
        self.DateCreated = ko.observable(data.DateCreated);
        self.DateModified = ko.observable(data.DateModified);

        self.IsWidgetReadyOnBlur = function () {
            //self.save();
        };

        self.IsMobileReadyOnBlur = function () {
            //self.save();
        };

        self.CombineTypeOnBlur = function() {
            //self.save();
        };

        self.HostIdOnBlur = function () {
            //self.save();
        };
        
        self.RegionIdOnBlur = function () {
            //self.save();
        };
    }    

    (function ($) {        
        $(document).ready(function () {
            ko.applyBindings(new EventViewModel(@Html.Raw(Json.Encode(eventItem.EventMetadata))), document.getElementById('event-item'));
        });
    })(jQuery);
</script>