@using SmartWalk.Server.ViewModels
@using SmartWalk.Server.Records

@Display(New.DatePickerLocalization())

@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("SmartWalk.ListEvent");

    //Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();

    var eventItem = (EventMetadataFullVm)Model;
}

<div id="event-item" save-event-url="@Url.Action("SaveEvent", "Event", new {area = "SmartWalk.Server"})">
    @Html.AntiForgeryTokenOrchard()
    <div id="metadata-panel">
        @Html.LabelFor(m => eventItem.EventMetadata.HostId, @T("Host"))
        @Html.DropDownListFor(m => eventItem.EventMetadata.HostId, eventItem.Hosts.Select(u => new SelectListItem
        {
            Selected = u.Id == eventItem.EventMetadata.HostId,
            Text = u.DisplayName,
            Value = u.Id.ToString()
        }), new Dictionary<string, object> { { "data-bind", "value: HostId" } })
        
        <div class="ui-widget">
            <button id="add-place-button">@T("Add place")</button>
            <button id="add-host-button">@T("Add host")</button>
        </div>

        <label for="title">@T("Title")</label>
        <input type="text" id="title" data-bind="value: Title"/>
        
        <label for="description">@T("Description")</label>
        <textarea id="description" data-bind="value: Description"></textarea>
        
        <label for="start-time">@T("Start time")</label>
        <input type="text" data-bind="datepicker: StartTime, datepickerOptions: { showAnim: '' }" />
        
        <label for="end-time">@T("End time")</label>
        <input type="text" id="end-time" data-bind="datepicker: EndTime, datepickerOptions: { showAnim: '' }"/>
        
        @Html.LabelFor(m => eventItem.EventMetadata.CombineType, @T("Combine type"))
        @Html.DropDownListFor(m => eventItem.EventMetadata.CombineType,
                              Enum.GetNames(typeof(CombineType))
                                  .Select(u => new SelectListItem
                                  {
                                      Selected = (int)Enum.Parse(typeof(CombineType), u) == eventItem.EventMetadata.CombineType,
                                      Text = @T(u).ToString(),
                                      Value = ((int)Enum.Parse(typeof(CombineType), u)).ToString()
                                  }), new Dictionary<string, object> { { "data-bind", "value:CombineType" } })
        
        @Html.LabelFor(m => eventItem.EventMetadata.IsPublic, @T("Is public"))
        @Html.CheckBoxFor(m => eventItem.EventMetadata.IsPublic, new Dictionary<string, object> { { "data-bind", "checked: IsPublic" } })
                
        <div id="entity-items" data-bind="visible: Venues().length > 0">
            <p>@T("Venues")</p>    
            @{ using(Html.BeginForm("Edit", "Venue", FormMethod.Get)) {
                    <input type="hidden" name="entityId" value="0" />
                    <input type="submit" value="@T("Add venue")" />
            }}
            <table>                
                <tbody data-bind='template: {name: "EntityItemTemplate", foreach: Venues() }'></tbody>
            </table>    
        </div>
        
        <!--
        <div id="shows-panel">
            <ul data-bind="visible: Shows().length > 0, foreach: Shows">
                <li>
                    <label data-bind="attr: { for: 'show-title-' + Id() }">@T("Title")</label>
                    <input type="text" data-bind="attr: {id:'show-title-' + Id()}, value: Title"/>
        
                    <label data-bind="attr: { for: 'show-description-' + Id() }">@T("Description")</label>
                    <textarea data-bind="attr: { id: 'show-description-' + Id() }, value: Description"></textarea>
                    
                    <a href="#" data-bind="click: $root.removeShow">Remove</a>                    
                </li>
            </ul>
            <button data-bind="click: addShow">@T("Add show")</button>        
        </div>-->
    </div>
</div>

<script type="text/html" id="EntityItemTemplate">
    <tr>
        <td><span data-bind="text: Name"></span></td>        
        <td><a data-bind="attr: {href: '@Url.Action("Edit")?entityId=' + Id()}">Edit</a></td>
    </tr>  
    <tr>
        <td>
        </td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th><span>@T("Show")</span></th>
                        <th><span>@T("Action")</span></th>                
                    </tr>
                </thead>
                <tbody data-bind='template: {name: $root.getShowView, foreach: Shows() }'></tbody>
            </table>    
        </td>
    </tr>         
</script>

<script type="text/html" id="ShowItemTemplate">
    <tr data-bind="css: {'alt': $index() % 2 === 1}">        
        <td><span data-bind="text: Description"></span></td>        
        <td><a href="#" data-bind="click: $root.selectedShow">Edit</a></td>
    </tr>      
</script>

<script type="text/html" id="ShowItemTemplateEdit">
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td>
                        <label for="show-title">@T("Title")</label>
                        <input type="text" id="show-title" data-bind="value: Title"/>                                                                
                    </td>
                    <td>
                        <label for="show-description">@T("Description")</label>
                        <textarea id="show-description" data-bind="value: Description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="show-start-time">@T("Start time")</label>
                        <input id="show-start-time" type="text" data-bind="datepicker: StartDate, datepickerOptions: { showAnim: '' }" />                                
                    </td>
                    <td>
                        <label for="show-end-time">@T("End time")</label>
                        <input id="show-end-time" type="text" data-bind="datepicker: EndDate, datepickerOptions: { showAnim: '' }"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>      
</script>

<script language="javascript">        
    

    (function ($) {        
        $(document).ready(function () {
            var vm = new EventViewModel(@Html.Raw(Json.Encode(eventItem.EventMetadata)));

            vm.getShowView = function(item) {
                return item === vm.selectedShow() ? 'ShowItemTemplateEdit' : "ShowItemTemplate";
            };

            ko.applyBindings(vm, document.getElementById('event-item'));            
        });
    })(jQuery);
</script>