@using SmartWalk.Server.ViewModels

@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("SmartWalk.ListEvent");

    //Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();

    var eventItems = (IList<EventMetadataVm>)Model;
}

<div id="event-items" data-bind="visible: EventItems().length > 0">
    <p>@T("Events")</p>    
    @{ using(Html.BeginForm("Edit", "Event", FormMethod.Get)) {
            <input type="hidden" name="eventId" value="0" />
            <input type="submit" value="@T("Add event")" />
    }} 
    <table class="event-item">
        <thead>
            <tr>
                <th class="string"><span>@T("Title")</span></th>
                <th class="string"><span>@T("Host Name")</span></th>
                <th class="string"><span>@T("Start Time")</span></th>
                <th class="string"><span>@T("Date Created")</span></th>                
                <th class="string"><span>@T("Action")</span></th>                
            </tr>
        </thead>
        <tbody data-bind='template: {name: "eventItemTemplate", foreach: EventItems() }'></tbody>
    </table>    
</div>

<script type="text/html" id="eventItemTemplate">
    <tr data-bind="css: {'alt': $index() % 2 === 1}">        
        <td><span data-bind="text: Title"></span></td>
        <td><span data-bind="text: HostName"></span></td>
        <td><span data-bind="text: StartTime"></span></td>
        <td><span data-bind="text: DateCreated"></span></td>
        <td><a data-bind="attr: {href: '@Url.Action("Edit")?eventId=' + Id()}">Edit</a></td>
    </tr>       
</script>


<script>
    function EventsViewModel() {
        var self = this;
        
        self.EventItems = ko.observableArray($.map(@Html.Raw(Json.Encode(eventItems)), function(item) { return new EventViewModel(item); }));               
    }

    ko.applyBindings(new EventsViewModel(), document.getElementById('event-items'));
</script>