@using System.Globalization
@using SmartWalk.Server.Extensions
@using SmartWalk.Server.Utils
@using SmartWalk.Server.ViewModels
@model ListViewVm<EventMetadataVm>
@{
    Style.Require("SmartWalk");

    Script.Require("ImageScale").AtFoot();
    Script.Require("SmartWalk.AntiForgery").AtFoot();
    Script.Require("SmartWalk.Common").AtFoot();

    var culture = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
    var eventsUrl = Url.Action("List", "Event", new {display = DisplayType.All}); 
    var myEventsUrl = Url.Action("List", "Event", new {display = DisplayType.My}); 
    var baseUrl = Model.Parameters.Display == DisplayType.All ? eventsUrl : myEventsUrl;
    string linkClass;
}
    <div id="event-items">
        @Html.AntiForgeryTokenOrchard()    
    
        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="@T("type event name...")" data-bind="value: query">
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-default" type="button">@T("Search")</button>
                    </span>
                </div>
            </div>
        @if (WorkContext.CurrentUser != null) {
            <div class="col-xs-4">
                <form action="@Url.Action("Create")">
                    <button type="submit" class="btn btn-primary">@T("Create <span class=\"hidden-xs\"> Event</span>")</button>
                </form>  
            </div>
        }
        </div>
        
        <div class="gap toolbar">
            <small>
            @if (WorkContext.CurrentUser != null) {
                <span>
                    @{
                        linkClass = Model.Parameters.Display == DisplayType.All ? "selected" : "default";
                        var sortParam =
                            Model.Parameters.Sort == SortType.Title
                                ? "?sort=" + Model.Parameters.Sort.ToString().ToLower()
                                : string.Empty;
                    }
                    <a class="@linkClass" href="@string.Format("{0}{1}", eventsUrl, sortParam)">@T("All Events")</a>
                    &nbsp;|&nbsp;
                    @{
                        linkClass = Model.Parameters.Display == DisplayType.My ? "selected" : "default";
                    }
                    <a class="@linkClass" href="@string.Format("{0}{1}", myEventsUrl, sortParam)">@T("My Events")</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            }
                @T("Sort By"):&nbsp;
                @{
                    linkClass = Model.Parameters.Sort == SortType.Date ? "selected" : "default";
                }    
                <a class="@linkClass" href="@baseUrl">@T("Date")</a>
                &nbsp;|&nbsp;
                @{
                    linkClass = Model.Parameters.Sort == SortType.Title ? "selected" : "default";
                }    
                <a class="@linkClass" href="@string.Format("{0}?sort={1}", baseUrl, SortType.Title.ToString().ToLower())">@T("Title")</a>
            </small>
        </div>

       <div class="floating-container small-gap">
        @foreach (var item in Model.Data) {
            <a class="thumbnail floating bg-image-container default-rows" href="@Url.Action("View", new {eventId = item.Id})">
                <div class="header">
                    <h3>@item.DisplayName()</h3>
			
                    <img class="scale" data-scale="best-fill" data-align="center" src="@item.DisplayPicture()">
                </div>
				                
                <div class="info"><h4>@item.DisplayDate(culture)</h4></div>
            </a>
        }
           <!-- ko template: {name: "eventItemTemplate", foreach: items() } -->    
           <!-- /ko -->
           <div class="clearfix"></div>
       </div>           
    </div>

<script type="text/html" id="eventItemTemplate">
    <a class="thumbnail floating bg-image-container" data-bind="attr: {href: '@Url.Action("View", new { eventId = ""})/' + id()}">
        <div class="header">
            <h3 data-bind="text: sw.ext.displayName($data)"></h3>
			
            <img class="scale" data-scale="best-fill" data-align="center" data-bind="attr: {src: sw.ext.displayPicture($data)}">
        </div>
				
        <div class="info">
            <h4 data-bind="text: sw.ext.displayDate($data)"></h4>
        </div>
    </a>   
</script>

@using (Script.Foot())
{
    @Display(New.MomentLocalization())

<script type="text/javascript">
    EventsViewModel = function(data, url) {
        var self = this;

        EventsViewModel.superClass_.constructor.call(self, data, url);

        self.addItem = function(event) {
            self.items.push(new EventViewModel(event));
            $("img.scale").imageScale(); // TODO: Move to KO's onTemplateLoaded
        };  
    };

    inherits(EventsViewModel, ListViewModel);

    $(function() {
        var viewModel = new EventsViewModel(
            @Html.Raw(JsonConvert.SerializeObject(Model.Parameters, JsonNetResult.Settings)), 
            '@Url.Action("GetEvents", "Event")');

        attachVerticalScroll(viewModel.getNextPage);

        ko.applyBindings(viewModel, document.getElementById("event-items"));

        $("#btnSearch").click(function() {
            $("a").remove(".default-rows");
            viewModel.search();
        });
        $("img.scale").imageScale();
    });    
</script>
}