@using SmartWalk.Server.ViewModels

@{
    Style.Require("jQueryUI_Orchard");
    Style.Require("SmartWalk.ListEvent");

    //Script.Require("jQuery").AtHead();
    Script.Require("jQueryUI").AtHead();
    Script.Require("ko").AtHead();

    var eventItems = (IList<EventMetadataVm>)Model;
}

<div id="event-items" data-bind="visible: EventItems().length > 0">
    <p>@T("Events")</p>    
    <table class="event-item">
        <thead>
            <tr>
                <th class="string"><span>@T("Title")</span></th>
                <th class="string"><span>@T("Host Name")</span></th>
                <th class="string"><span>@T("Start Time")</span></th>
                <th class="string"><span>@T("Date Created")</span></th>                
                <th class="string"><span>@T("Action")</span></th>                
            </tr>
        </thead>
        <tbody data-bind='template: {name: "eventItemTemplate", foreach: EventItems() }'></tbody>
    </table>    
</div>

<script type="text/html" id="eventItemTemplate">
    <tr data-bind="css: {'alt': $index() % 2 === 1}">        
        <td><span data-bind="text: Title"></span></td>
        <td><span data-bind="text: HostName"></span></td>
        <td><span data-bind="text: StartTime"></span></td>
        <td><span data-bind="text: DateCreated"></span></td>
        <td><a data-bind="attr: {href: '@Url.Action("Edit")?eventId=' + Id()}">Edit</a></td>
    </tr>       
</script>


<script>   
    function EventViewModel(data) {
        var self = this;

        self.Id = ko.observable(data.Id);
        self.HostId = ko.observable(data.HostId);
        self.HostName = ko.observable(data.HostName);

        self.Title = ko.observable(data.Title);
        self.Description = ko.observable(data.Description);
        self.StartTime = ko.observable(data.StartTime);
        self.EndTime = ko.observable(data.EndTime);

        self.CombineType = ko.observable(data.CombineType);
        self.IsMobileReady = ko.observable(data.IsMobileReady);
        self.IsWidgetReady = ko.observable(data.IsWidgetReady);
        self.DateCreated = ko.observable(data.DateCreated);
        self.DateModified = ko.observable(data.DateModified);        
    }

    function EventsViewModel() {
        var self = this;
        
        self.EventItems = ko.observableArray($.map(@Html.Raw(Json.Encode(eventItems)), function(item) { return new EventViewModel(item); }));               
    }

    ko.applyBindings(new EventsViewModel(), document.getElementById('event-items'));

</script>