@using SmartWalk.Server.ViewModels
@{
    Style.Require("SmartWalk");

    Script.Require("jQueryUI").AtFoot();
    Script.Require("SmartWalk.ViewModels.Event").AtFoot();
    Script.Require("ImageScale").AtFoot();

    var model = (ListViewVm)Model;
    var parameters = model.Parameters;
    var items = (IList<EventMetadataVm>)model.Data;
}
<div id="event-items" get-events-url="@Url.Action("GetEvents", "Event", new {area = "SmartWalk.Server"})">
        @Html.AntiForgeryTokenOrchard()    
        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="@T("Type event name...")">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">@T("Search")</button>
                    </span>
                </div>
            </div>
        @if (parameters.IsLoggedIn) {
            <div class="col-xs-4">
                <form action="/events/create">
                    <button type="submit" class="btn btn-primary">@T("Create") <span class="hidden-xs">@T("Event")</span></button>
                </form>  
            </div>
        }
        </div>
        
        <div class="gap">
            <small>
            @if (parameters.IsLoggedIn) {
                <span>
                    <a href="/events?Parameters.Display=All&Parameters.Sort=@parameters.Sort">@T("All Events")</a>
                    &nbsp;| 
                    <a href="/events?Parameters.Display=My&Parameters.Sort=@parameters.Sort">@T("My Events")</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            }
                    
                @T("Sort By"):&nbsp;<a href="/events?Parameters.Display=@parameters.Display&Parameters.Sort=Date">@T("Date")</a>&nbsp;|&nbsp;<a href="/events?Parameters.Display=@parameters.Display&Parameters.Sort=Title">@T("Title")</a>
            </small>
        </div>

       <div class="floating-container small-gap">
        @foreach (var item in items) {
            <a class="thumbnail floating bg-image-container" href="@Url.Action("View", new {eventId = item.Id})">
                <div class="header">
                    <h3>@item.DisplayName</h3>
			
                    <img class="scale" data-scale="best-fill" data-align="center" src="@item.DisplayPicture">
                </div>
				                
                <div class="info">
                    <h4>@item.DisplayDate</h4>
                </div>
            </a>
        }
           <!-- ko template: {name: "EventItemTemplate", foreach: Items() } -->    
           <!-- /ko -->
           <div class="clearfix"></div>
       </div>           
    </div>

<script type="text/html" id="EventItemTemplate">
    <a class="thumbnail floating bg-image-container" data-bind="attr: {href: '/event/' + Id()}">
        <div class="header">
            <h3 data-bind="text: Title"></h3>
			
            <img class="scale" data-scale="best-fill" data-align="center" data-bind="attr: {src: Picture}">
        </div>
				
        <div class="info">
            <h4 data-bind="text: DisplayDate"></h4>
        </div>
    </a>   
</script>

@using (Script.Foot())
{
<script type="text/javascript">
    EventsViewModel = function(data, url) {
        EventsViewModel.superClass_.constructor.call(this, data, url);
    };

    inherits(EventsViewModel, ListViewModel);

    EventsViewModel.prototype.addItem = function(data) {
        //VenuesViewModel.superClass_.Items.push(new EntityViewModel(data));
        this.Items.push(new EventViewModelBase(data));
        $("img.scale").imageScale();
    };

    $(document).ready(function() {
        var viewModel = new EventsViewModel(@Html.Raw(Json.Encode(parameters)), $("#event-items").attr("get-events-url"));
        ko.applyBindings(viewModel, document.getElementById('event-items'));
    });
    
    $(function() {
        $("img.scale").imageScale();
    });    
</script>
}