<script type="text/html" id="EntityItemTemplate">
    <tr class="venue" data-bind="template: {name: $root.venuesManager.getItemView}"></tr>
    <tr class="add-venue-show" data-bind="visible: id() != 0 && showsManager.items() && showsManager.items().length > 8"><td colspan="3"><div class="add-venue-show"><a data-bind="    click: function() { $data.showsManager.addItem() }"><span class="glyphicon glyphicon-plus-sign"></span> @T("Create Show")</a></div></td></tr>
    <!-- ko template: {name: showsManager.getItemView, foreach: showsManager.items() } -->    
    <!-- /ko -->
    <tr class="add-venue-show" data-bind="visible: id() != 0 && showsManager.items() && $.grep(showsManager.items(), function (show) { return show.isEditing() }).length == 0"><td colspan="3"><div class="add-venue-show"><a data-bind="    click: function() { $data.showsManager.addItem() }"><span class="glyphicon glyphicon-plus-sign"></span> @T("Create Show")</a></div></td></tr>
</script>

<script type="text/html" id="EventVenueItemTemplate">
    <td colspan="2">
        <div>
            <a class="bg-image" data-bind="attr: {href: '/venue/' + id()}">
                <img class="scale" data-scale="best-fill" data-align="center" data-bind="attr: {src: picture }"/>
                <span class="abbr" data-bind="text: abbreviation()"></span>
            </a>
            <a data-bind="attr: {href: '/venue/' + id()}"><h4 data-bind="text: name"></h4></a>
            <br />
            <address data-bind="text: allAddresses() && allAddresses().length > 0 ? allAddresses()[0].address() : ''"></address>
            <i class="tip description" data-bind="text: allAddresses() && allAddresses().length > 0 ? allAddresses()[0].tip() : ''"></i>
        </div>
    </td>
    <td class="td-align td-valign">
        <button type="button" class="remove close" data-bind="click: function() { if(confirm('@T("Are you sure you want to remove this venue with all shows?")')) $root.venuesManager.deleteItem($data); }">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</script>

<script type="text/html" id="EventVenueItemTemplateEdit">
    <td colspan="3" class="venue editing-container" data-bind="fadeInVisible: 'slow', scrollVisible: 'slow'">
        <div class="well">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="venueComboBox">@T("Venue"):</label>
                        <div class="input-group" data-bind="validationElement: $root.selectedVenue">
                            <input id="venueComboBox" class="form-control pull-left" placeholder="@T("Select Venue...")" data-bind="
                                jqAuto: $root.selectedVenue, 
                                jqOptions: EventViewModelExtended.AutocompleteOptions, 
                                jqAutoSource: $root.autocompleteVenues, 
                                jqAutoValue: $root.selectedVenue, 
                                jqAutoQuery: $root.getVenues, 
                                jqAutoSourceLabel: 'name', 
                                jqAutoSourceInputValue: 'name', 
                                jqAutoSourceValue: 'id', 
                                jqAutoItemText: EventViewModelExtended.getAutoEntityItem" />
                            <span class="input-group-btn">
                                <button type="button" id="createVenueButton" class="btn btn-default pull-right" data-bind="click: $root.createVenue">@T("Create <span class=\"hidden-xs\"> Venue</span>")...</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
									   							
            <div class="row">			
                <div class="col-sm-8"></div>
                <div class="col-sm-4 text-right">
				    <div class="form-group">
					    <label for="saveShowButton">&nbsp;</label><br/>
					    <button type="button" class="btn btn-default" data-bind="click: function() { $root.venuesManager.cancelItem() }">@T("Cancel")</button>
					    <button type="button" class="btn btn-success" id="saveVenueButton" data-bind="click: function() { $root.venuesManager.saveItem($data) }">@T("Save Venue")</button>
				    </div>
			    </div>
		    </div>
	    </div>
    </td>
</script>

<script type="text/html" id="ShowItemTemplate">
    <tr class="venue-show">
        <td data-bind="click: function() { $parent.showsManager.editItem($data) }">
            <span data-bind="text: title"></span>
            <br/>
            <span class="description" data-bind="text: description"></span>
        </td>
        
        <td class="td-valign" data-bind="html: timeText, click: function() { $parent.showsManager.editItem($data) }"></td>
        <td class="td-align td-valign">
            <button type="button" class="remove close" data-bind="click: function() { if(confirm('@T("Are you sure you want to remove show?")    ')) $parent.showsManager.deleteItem($data); }">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>    
</script>

<script type="text/html" id="ShowItemTemplateEdit">
    <tr>
		<td colspan="3" class="editing-container" data-bind="fadeInVisible: 'slow', scrollVisible: 'slow'">
			<div class="well">							
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group" data-bind="validationElement: title">
							<label for="titleTextInput">@T("Title"):</label>
							<input type="text" class="form-control" id="titleTextInput" data-bind="value: title">
						</div>
									
						<div class="form-group">
							<label for="showDescriptionTextArea">@T("Description"):</label>
							<textarea class="form-control" id="showDescriptionTextArea" data-bind="value: description"></textarea>
						</div>
					</div>
							
					<div class="col-sm-2">
						<div class="form-group">
							<label for="showStartTimeInput">@T("Start Time"):</label><br/>
							<input type="time" class="form-control" id="showStartTimeInput" data-bind="timepicker: startTime, timepickerOptions: { stepMinute: 1 }" />
						</div>
									
						<div class="form-group" data-bind="validationElement: startDate">
							<label for="showStartDateInput">@T("Start Date"):</label><br/>
							<input type="date" class="form-control" id="showStartDateInput" data-bind="datepicker: startDate, datepickerOptions: {}" />
						</div>
					</div>
							
					<div class="col-sm-2">
						<div class="form-group">
							<label for="showStartTimeInput">@T("End Time"):</label><br/>
							<input type="time" class="form-control" id="showStartTimeInput" data-bind="timepicker: endTime, timepickerOptions: { stepMinute: 1 }" />
						</div>
									
						<div class="form-group" data-bind="validationElement: endDate">
							<label for="showEndDateInput">@T("End Date"):</label><br/>
							<input type="date" class="form-control" id="showEndDateInput" data-bind="datepicker: endDate, datepickerOptions: {}" />
						</div>
					</div>
				</div>
							
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" data-bind="validationElement: picture">
							<label for="pictureTextInput">@T("Picture"):</label>
							<input type="text" class="form-control" id="pictureTextInput" data-bind="value: picture">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" data-bind="validationElement: detailsUrl">
							<label for="detailsURLTextInput">@T("Details URL"):</label><br/>
							<input type="text" class="form-control" id="detailsURLTextInput" data-bind="value: detailsUrl" />
						</div>
					</div>
					<div class="col-sm-4 text-right">
						<div class="form-group">
							<label for="saveShowButton">&nbsp;</label><br/>
							<button type="button" class="btn btn-default" data-bind="click: function() {$parent.showsManager.cancelItem(); }">@T("Cancel")</button>
							<button type="button" class="btn btn-success" id="saveShowButton" data-bind="click: function() {$parent.showsManager.saveItem($data); } ">@T("Save Show")</button>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>         
</script>