<script type="text/html" id="autocompleteEntityItemTemplate">
    <a>
        <span data-bind="text: Name"></span><br />
        <i class="description" data-bind="
                visible: Addresses && Addresses.length > 0,
                text: Addresses && Addresses.length > 0 ? Addresses[0].Address : null"></i>
    </a>
</script>

<script type="text/html" id="multiDayItemTemplate">
    <li><a class="img-circle" href="#" data-bind="css: { selected: day == $root.currentDay()}, click: function () {$root.currentDay($data.day);}"><div class="day" data-bind="    text: momentDate.format('ddd')"></div><div class="date" data-bind="    text: momentDate.date()"></div></a></li>
</script>

<script type="text/html" id="loadingImgTemplate">
    <img class="loading" src='@Href("../../Images/loading.gif")' width="16" height="16" alt="Loading..." data-bind="fadeVisible: $root.isBusy" />
</script>

<script type="text/html" id="entityItemTemplate">
    <tr class="venue" data-bind="template: {name: $root.venuesManager.getItemView, afterRender: sw.scaleImages}"></tr>
    <tr class="add-venue-show" data-bind="
        visible: !isEditing() && 
            showsManager.items() && 
            showsManager.items().length > 8">
        <td colspan="3">
            <div class="add-venue-show"><a data-bind="click: function () { if ($root.isEnabled()) $data.showsManager.addItem(); }, css: {disabled: !$root.isEnabled()}"><span class="glyphicon glyphicon-plus-sign"></span> @T("Create Show")</a></div>
        </td>
    </tr>
    <!-- ko template: {name: showsManager.getItemView, foreach: showsManager.items() } -->    
    <!-- /ko -->
    <tr class="add-venue-show" data-bind="
        visible: !isEditing() && 
            showsManager.items() && 
            $.grep(showsManager.items(), function (show) { 
                return show.isEditing() }).length == 0">
        <td colspan="3">
            <div class="add-venue-show"><a data-bind="click: function () { if ($root.isEnabled()) $data.showsManager.addItem(); }, css: {disabled: !$root.isEnabled()}"><span class="glyphicon glyphicon-plus-sign"></span> @T("Create Show")</a></div>
        </td>
    </tr>
</script>

<script type="text/html" id="eventVenueItemTemplate">
    <td colspan="2">
        <div>
            <a class="bg-image" target="_blank" data-bind="attr: {href: '/venue/' + id()}">
                <img class="scale" data-scale="best-fill" data-align="center" data-bind="attr: {src: picture }" alt="" />
                <span class="abbr" data-bind="text: abbreviation()"></span>
            </a>
            <a target="_blank" data-bind="attr: {href: '/venue/' + id()}"><h4 data-bind="text: name"></h4></a>
            <br />
            <address data-bind="text: addresses() && addresses().length > 0 ? addresses()[0].address() : ''"></address>
            <i class="tip description" data-bind="text: addresses() && addresses().length > 0 ? addresses()[0].tip() : ''"></i>
        </div>
    </td>
    <td class="td-align td-valign">
        <button type="button" class="remove close" data-bind="enable: $root.isEnabled(), click: function() { if(confirm('@T("Are you sure you want to remove this venue with all shows?")')) $root.venuesManager.deleteItem($data); }">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</script>

<script type="text/html" id="eventVenueItemTemplateEdit">
    <td colspan="3" class="venue editing-container" data-bind="fadeIn: 'slow', scroll: 'slow'">
        <div class="well">
            <div class="row">
                <div class="col-sm-8" data-bind="validationElement: $data.id">
                    <div class="form-group">
                        <label for="venueComboBox">@T("Venue"):</label>
                        <div class="input-group">
                            <input id="venueComboBox" class="form-control pull-left" placeholder="@T("Search venues...")" data-bind="
                                jqAuto: {
                                    value: autocompleteName,
                                    dataValue: autocompleteData,
                                    source: $root.getAutocompleteVenues,
                                    inputProp: 'Name',
                                    template: 'autocompleteEntityItemTemplate'
                                },
                                validationTag: $data.id" />
                            <span class="input-group-btn">
                                <button type="button" id="createVenueButton" class="btn btn-default" data-bind="click: $root.createVenue">@T("Create <span class=\"hidden-xs\"> Venue</span>")...</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
									   							
            <div class="row">			
                <div class="col-sm-8"></div>
                <div class="col-sm-4 text-right">
				    <div class="form-group">
					    <label for="saveShowButton">&nbsp;</label><br/>
					    <button type="button" class="btn btn-default" data-bind="click: function() { $root.venuesManager.cancelItem($data) }">@T("Cancel")</button>
					    <button type="button" class="btn btn-success" id="saveVenueButton" data-bind="click: function() { $root.venuesManager.saveItem($data) }">@T("Save Venue")</button>
				    </div>
			    </div>
		    </div>
	    </div>
    </td>
</script>

<script type="text/html" id="showItemTemplate">
    <tr class="venue-show">
        <td class="show-text" data-bind="click: function() { if ($root.isEnabled()) $parent.showsManager.editItem($data) }">
            <span data-bind="text: title"></span>
            <br/>
            <span class="description" data-bind="text: description"></span>
        </td>
        <td class="td-valign" data-bind="html: sw.ext.displayTime($data, $root.settings.showMessages.allDayMessage).replace(/ /g, '&nbsp;'), click: function() { if ($root.isEnabled()) $parent.showsManager.editItem($data); }"></td>
        <td class="td-align td-valign">
            <button type="button" class="remove close" data-bind="enable: $root.isEnabled, click: function() { if(confirm('@T("Are you sure you want to remove show?")')) $parent.showsManager.deleteItem($data); }">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>    
</script>

<script type="text/html" id="showItemTemplateEdit">
    <tr>
		<td colspan="3" class="editing-container" data-bind="fadeIn: 'slow', scroll: 'slow'">
			<div class="well">							
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group" data-bind="validationElement: title">
							<label for="titleTextInput">@T("Title"):</label>
							<input type="text" class="form-control" id="titleTextInput" data-bind="value: title">
						</div>
									
						<div class="form-group">
							<label for="showDescriptionTextArea">@T("Description"):</label>
							<textarea class="form-control" id="showDescriptionTextArea" data-bind="value: description"></textarea>
						</div>
					</div>
							
					<div class="col-sm-2" data-bind="validationElement: startTime">
						<div class="form-group">
							<label for="showStartTimeInput">@T("Start Time"):</label><br/>
							<input type="time" class="form-control" id="showStartTimeInput" data-bind="timepicker: startTime, settings: { stepMinute: 1, defaultDateAccessor: $root.currentDate }" />
						</div>
									
						<div class="form-group">
							<label for="showStartDateInput">@T("Start Date"):</label><br/>
							<input type="date" class="form-control" id="showStartDateInput" data-bind="datepicker: startTime, settings: { defaultDateAccessor: $root.currentDate }" />
						</div>
					</div>
							
					<div class="col-sm-2" data-bind="validationElement: endTime">
						<div class="form-group" >
							<label for="showStartTimeInput">@T("End Time"):</label><br/>
							<input type="time" class="form-control" id="showStartTimeInput" data-bind="timepicker: endTime, settings: { stepMinute: 1, defaultDateAccessor: $root.currentDate }" />
						</div>
									
						<div class="form-group">
							<label for="showEndDateInput">@T("End Date"):</label><br/>
							<input type="date" class="form-control" id="showEndDateInput" data-bind="datepicker: endTime, settings: { defaultDateAccessor: $root.currentDate }" />
						</div>
					</div>
				</div>
							
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group" data-bind="validationElement: picture">
							<label for="pictureTextInput">@T("Picture"):</label>
							<input type="text" class="form-control" id="pictureTextInput" data-bind="value: picture">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" data-bind="validationElement: detailsUrl">
							<label for="detailsURLTextInput">@T("Details URL"):</label><br/>
							<input type="text" class="form-control" id="detailsURLTextInput" data-bind="value: detailsUrl" />
						</div>
					</div>
					<div class="col-sm-4 text-right">
						<div class="form-group">
							<label for="saveShowButton">&nbsp;</label><br/>
							<button type="button" class="btn btn-default" data-bind="click: function() {$parent.showsManager.cancelItem($data); }">@T("Cancel")</button>
							<button type="button" class="btn btn-success" id="saveShowButton" data-bind="click: function() {$parent.showsManager.saveItem($data); } ">@T("Save Show")</button>
						</div>
					</div>
				</div>
			</div>
		</td>
	</tr>         
</script>