@using SmartWalk.Server.Records
@using SmartWalk.Server.ViewModels
@using System.Text.RegularExpressions

@{
    Script.Require("jQueryUI").AtHead();
    Script.Require("SmartWalk.ViewModels").AtHead();
    
    var eventMetadata = (EventMetadataVm) Model;
}

<div id="view-event-form" get-venue-events="@Url.Action("GetEvents", "Venue", new {area = "SmartWalk.Server"})">
    @Html.AntiForgeryTokenOrchard()
    <div id="event-panel">
        <div class="row">
			<div class="col-xs-8">
				<h2>@eventMetadata.Title</h2>
			</div>
            <div class="col-xs-4 text-right">
                
                <button type="button" class="btn btn-primary" id="btn-edit-event">@T("Edit Event")</button>
            </div>
		</div>
        
        @if (!string.IsNullOrEmpty(eventMetadata.Picture)) {
            <div class="image-container">
                <img src="@eventMetadata.Picture" />
            </div>
        }
        
        @if (eventMetadata.AllVenues.Any() && eventMetadata.AllVenues.First().AllAddresses.Any()) {
            var venue = eventMetadata.AllVenues.First();
            var addressFirst = venue.AllAddresses.First();
            var query = Regex.Replace(addressFirst.Address.Replace("&", " "), @",\s+", ",");
            query = Regex.Replace(query, @"\s+", "+");
            <iframe class="map-container" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=@query&key=AIzaSyAOwfPuE85Mkr-xoNghkIB7enlmL0llMgo"></iframe>                        
        }
                  
        
        <div class="row">
			<div class="col-md-8">
				<div><h4>@T("Date"):&nbsp;@eventMetadata.DisplayDate</h4></div>
				<div><h4>@T("Organized By")&nbsp;<a href="@Url.Action("View", "Host", new {entityId = eventMetadata.HostId})">@eventMetadata.Host.DisplayName</a></h4></div>
			</div>
			<div class="col-md-4">
				<div class="text-center pull-right" style="margin-top: 10px; border-radius: 4px; width:100px; height: 30px; background-color:#ccc; border:1px solid #444;">@T("Add Event Widget")</div>
			</div>
		</div>
        
        <div class="row gap">
            <div class="col-md-8"><p>@eventMetadata.Description</p></div>
		</div>
         
        
        <table class="table gap">
			<thead>
				<tr><th><h4>@T("Venues and Shows")</h4></th><th>@T("Time")</th></tr>
			</thead>
            <tbody>
                @foreach (var venue in eventMetadata.AllVenues.Where(v => v.State == VmItemState.Normal)) {
                    <tr>
                        <td colspan="2" class="venue">
                            <a href="@Url.Action("View", "Venue", new {entityId = venue.Id})"><img src="@venue.Picture" /></a>
                            <a href="@Url.Action("View", "Venue", new {entityId = venue.Id})"><h4>@venue.DisplayName</h4></a>
                            @if (venue.AllAddresses.Any()) {
                                <address>@venue.AllAddresses.First().Address</address>
                            }                            
                        </td>
                    </tr>
                    foreach (var show in venue.AllShows) {
                     <tr>
                        <td>@show.Title<br/><span class="description">@show.Description</span></td>
                        <!-- It's important to have &nbsp; between "start-time" and "-", to keep them on the same row -->
                        @if (string.IsNullOrEmpty(show.EndTime)) {
                            <td>@show.StartTime</td>
                        }
                        else {
                            <td>@show.StartTime&nbsp;-&nbsp;@show.EndTime</td>
                        }
                    </tr>   
                    }
                }                
            </tbody>
		</table>                        
    </div>
</div>

<script>
    $(document).ready(function() {
        $( "#btn-edit-event" ).click(function() {
            window.location.href = "@Url.Action("View")" + "/edit";
        });
    });
</script>