@using System.Globalization
@using SmartWalk.Server.ViewModels
@using System.Text.RegularExpressions
@model EventMetadataVm
@{
    Style.Require("SmartWalk");
    Style.Require("TextCollapse");

    Script.Require("AddThisEvent").AtFoot();
    Script.Require("ImageScale").AtFoot();
    Script.Require("TextCollapse").AtFoot();
    Script.Require("SmartWalk.AntiForgery").AtFoot();

    var culture = CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);
}
    @Html.AntiForgeryTokenOrchard()

    <div class="bg-image-container page-header-image">
        <div class="header">
            <h2>
            @if (WorkContext.CurrentUser != null)
            {
                <button type="button" class="btn" id="btn-edit-event">@T("Edit Event")</button>
            }    
                @Model.DisplayName
            </h2>
            @if (!string.IsNullOrEmpty(Model.DisplayPicture))
            {
                <img class="scale" data-scale="best-fill" data-align="center" src="@Model.DisplayPicture" />
            }
        </div>
			
        <div class="info">
            <div class="pull-left">
                <div><h3>@Model.DisplayDate(culture)</h3></div>
                <div><h4>@T("Organized By")&nbsp;<a href="@Url.Action("View", "Host", new { entityId = Model.Host.Id })">@Model.Host.Name</a></h4></div>
            </div>
				
            <!-- TODO: To initialize "Add To Calendar" values -->
            <div class="pull-right add-event-widget">
                <a href="http://example.com/link-to-your-event" title="Add to Calendar" class="addthisevent">
                    Add to Calendar
                    <span class="_start">10-05-2014 11:38:46</span>
                    <span class="_end">11-05-2014 11:38:46</span>
                    <span class="_zonecode">6</span>
                    <span class="_summary">Summary of the event</span>
                    <span class="_description">Description of the event</span>
                    <span class="_location">Location of the event</span>
                    <span class="_organizer">Organizer</span>
                    <span class="_organizer_email">Organizer e-mail</span>
                    <span class="_facebook_event">http://www.facebook.com/events/160427380695693</span>
                    <span class="_all_day_event">true</span>
                    <span class="_date_format">DD/MM/YYYY</span>
                </a>
            </div>
        </div>	
    </div>
        
@if (Model.Venues.Any() && Model.Venues.First().Addresses.Any())
{
    var venue = Model.Venues.First();
    var addressFirst = venue.Addresses.First();
    var query = Regex.Replace(addressFirst.Address.Replace("&", " "), @",\s+", ",");
    query = Regex.Replace(query, @"\s+", "+");
    <div class="map-container"><iframe src="https://www.google.com/maps/embed/v1/place?q=@query&key=AIzaSyAOwfPuE85Mkr-xoNghkIB7enlmL0llMgo"></iframe></div>                       
}

@if (!@Model.Description.IsEmpty())
{
    <div class="row gap">
        <div class="col-md-8"><p class="description">@Model.Description</p></div>
    </div>
}  
    <table class="table table-content">
        <thead>
            <tr><th><h4>@T("Venues and Shows")</h4></th><th>@T("Time")</th></tr>
        </thead>
        <tbody>
        @foreach (var venue in Model.Venues)
        {
            <tr class="venue">
                <td colspan="2" class="venue">
                    <a class="bg-image" href="@Url.Action("View", "Venue", new { entityId = venue.Id })">
                        <img class="scale" data-scale="best-fill" data-align="center" src="@venue.Picture" />
                        <span class="abbr">@venue.Abbreviation</span>
                    </a>
                    <a href="@Url.Action("View", "Venue", new { entityId = venue.Id })"><h4>@venue.Name</h4></a>
                @if (venue.Addresses.Any())
                {
                    <br />
                    <address>@venue.Addresses.First().Address</address>
                    <i class="tip description">@venue.Addresses.First().Tip</i>
                }                            
                </td>
            </tr>
                foreach (var show in venue.Shows)
                {
            <tr class="venue-show">
                <td>@show.Title<br/>@if (@show.Description != null)
                    {<span class="description">@show.Description</span>}</td>                        
                <td class="td-valign">@Html.Raw(@show.DisplayTime(culture).Replace(" ", "&nbsp;"))</td>
            </tr>   
                }
        }                
        </tbody>
    </table>

@using (Script.Foot())
{
<script type="text/javascript">
    $(function () {
        $("#btn-edit-event").click(function() {
            window.location.href = "@Url.Action("View")" + "/edit";
        });

        $("img.scale").imageScale();
        $("p.description").textCollapse();
        
        // TODO: To buy a license and set "Add To Calendar" values
        if (addthisevent) {
            addthisevent.settings({
                license: "aao8iuet5zp9iqw5sm9z",
                mouse: false,
                css: true,
                outlook: { show: true, text: "Outlook Calendar" },
                google: { show: true, text: "Google Calendar" },
                yahoo: { show: true, text: "Yahoo Calendar" },
                hotmail: { show: true, text: "Hotmail Calendar" },
                ical: { show: true, text: "iCal Calendar" },
                facebook: { show: true, text: "Facebook Event" },
                dropdown: { order: "outlook,google,ical" },
                callback: ""
            });
        }
    });
</script>
}