@using SmartWalk.Server.Extensions
@using SmartWalk.Server.ViewModels
@{
    var profile = (SmartWalkUserVm)Model;    
}

<h1>@Html.TitleForPage(T("User Profile").ToString())</h1>

<fieldset class="group">
    <legend>@T("Account Information")</legend>
    <p>@T("Use the form below to update your profile.")&nbsp;<a href="@Url.ChangePassword()">@T("Change password.")</a></p>
    @Html.ValidationSummary(T("Error occured, while updating profile. Please correct errors and try again.").ToString())

    @using (Html.BeginFormAntiForgeryPost(Url.EditProfile())) {
    <div>
        <label for="timeZone">@T("Time Zone:")</label>
        @Html.DropDownListFor(p => profile.TimeZone, TimeZoneInfo.GetSystemTimeZones().Select(u => new SelectListItem
                                    {
                                        Text = u.DisplayName,
                                        Value = u.Id,
                                        Selected = u.Id == profile.TimeZone
                                    }))
    </div>
     
    <div>
        <button class="primaryAction" type="submit">@T("Update")</button>
    </div>
    } 
</fieldset>
 