@using Orchard.Mvc.Html;
@using SmartWalk.Server.Common.Utils
@{
    this.SetiTunesMeta();
    
    Html.Partial("Icons");

    Style.Require("Bootstrap");
    Style.Require("Bootstrap.Theme");
    Style.Require("Smartwalk.Theme");

    Script.Require("jQuery").AtFoot();
    Script.Require("Bootstrap").AtFoot();

    string title = Convert.ToString(Model.Title);
    Html.AppendTitleParts(Convert.ToString(WorkContext.CurrentSite.SiteName));

}<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture">
<head>
    <title>@Html.Title(title)</title>
    @Display(Model.Head)
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
    @* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>