@using System.Globalization
@using SmartWalk.Server.ViewModels
@model AddressMapVm
@{
    Script.Require("GoogleMapsApi").AtFoot();
    var nfi = new NumberFormatInfo { NumberDecimalSeparator = "." };

    if (Model.Addresses.Any())
    {
    <div id="googleMap" class="map-container" style="height: 180px"></div>

        using (Script.Foot())
        {
<script type="text/javascript">
    $(function() {
        function addMarker(latlng, title) {
            new google.maps.Marker({
                position: latlng,
                map: map,
                title: title,
                icon: "http://maps.google.com/mapfiles/marker.png" // TODO: to use our markers with two chars Abbreviation
            });
        }

        var map = new google.maps.Map(
            document.getElementById("googleMap"),
            {
                zoom: 14,
                center: new google.maps.LatLng(@Model.Latitude.ToString(nfi), @Model.Longitude.ToString(nfi)),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

        @foreach (var address in Model.Addresses)
        {
<text>        addMarker(new google.maps.LatLng(@address.Latitude.ToString(nfi), @address.Longitude.ToString(nfi)), "@address.Address");</text>
        }
    });
</script>
        }
    }
}