@using System.Globalization
@using SmartWalk.Server.ViewModels
@model AddressMapVm
@{
    Script.Require("GoogleMapsApi").AtFoot();
    var nfi = new NumberFormatInfo { NumberDecimalSeparator = "." };

    if (Model.Addresses.Any())
    {
    <div id="map-container" class="map-container shield"><div id="googleMap" style="height: 180px"></div></div>

        using (Script.Foot())
        {
<script type="text/javascript">
    $(function() {
        $("#map-container").on("click", function() {
            $(this).removeClass("shield");
            $(this).off("click");
        });

        function addMarker(latlng, title) {
            return new google.maps.Marker({
                position: latlng,
                map: map,
                title: title
            });
        }

        var map = new google.maps.Map(
            document.getElementById("googleMap"),
            {
                backgroundColor: "#B4D1FF",
                zoom: 14,
                center: new google.maps.LatLng(@Model.Latitude.ToString(nfi), @Model.Longitude.ToString(nfi)),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                streetViewControl: false
            });

        @foreach (var address in Model.Addresses)
        {
<text>        addMarker(new google.maps.LatLng(@address.Latitude.ToString(nfi), @address.Longitude.ToString(nfi)), "@address.Address");</text>
        }
    });
</script>
        }
    }
}