@using System.Globalization
@using SmartWalk.Server.ViewModels
@model AddressMapVm
@{
    Script.Require("GoogleMapsApi").AtFoot();
    var nfi = new NumberFormatInfo { NumberDecimalSeparator = "." };

    if (Model.Addresses.Any())
    {
    <div id="map-container" class="map-container shield"><div id="googleMap" style="height: 180px"></div></div>

        using (Script.Foot())
        {
<script type="text/javascript">
    $(function() {
        $("#map-container").on("click", function() {
            $(this).removeClass("shield");
            $(this).off("click");
        });

        var addresses = [];
    @foreach (var address in Model.Addresses)
    {
<text>        addresses.push({latLng: new google.maps.LatLng(@address.Latitude.ToString(nfi), @address.Longitude.ToString(nfi)), title: "@address.Address"});</text>
    }

        var map = new google.maps.Map(
            document.getElementById("googleMap"),
            {
                backgroundColor: "#B4D1FF",
                zoom: 14,
                center: new google.maps.LatLng(@Model.Latitude.ToString(nfi), @Model.Longitude.ToString(nfi)),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
                streetViewControl: false
            });
        
        function addMarker(latlng, map, title) {
            return new google.maps.Marker({
                position: latlng,
                map: map,
                title: title
            });
        }

        var bounds = new google.maps.LatLngBounds();
        
        for (var i = 0; i < addresses.length; i++) {
            bounds.extend(addresses[i].latLng);
            addMarker(addresses[i].latLng, map, addresses[i].title);
        }
        
        map.fitBounds(bounds);
    });
</script>
        }
    }
}