@using SmartWalk.Server.ViewModels
@using SmartWalk.Server.Records
@model EntityVm
@{
    Style.Require("SmartWalk");

    Script.Require("SmartWalk.AntiForgery").AtFoot();
    Script.Require("SmartWalk.Editing.Entity").AtFoot();

    var formId = ViewData["EntityFormId"] ?? "edit-entity-form";
    var entityTypeName = Model.Type == (int)EntityType.Host ? "Organizer" : "Venue";
    var entityController = Model.Type == (int)EntityType.Host ? "Host" : "Venue";
    var cancelAction = Model.Id == 0 
        ? Url.Action("List", entityController) 
        : Url.Action("View", entityController, new { entityId = @Model.Id });
    var actionCaption = Model.Id == 0 
        ? T("Add <span class=\"hidden-xs\">" + entityTypeName + "</span>") 
        : T("Save <span class=\"hidden-xs\">" + entityTypeName + "</span>");
}

<div id="@formId">
        @Html.AntiForgeryTokenOrchard()
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group" data-bind="validationElement: name">
                    <label class="titleLabel" for="entityNameTextInput">@T(entityTypeName + " Name"):</label>
                    <input id="entityNameTextInput" class="form-control" type="text" placeholder="@T("Type " + entityTypeName.ToLower() + " name...")" data-bind="value: name" />
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-success action-buttons" data-bind="click: saveEntity">@actionCaption</button>
            </div>
        </div>
        
        <div class="row">
	        <div class="col-sm-8">
		        <div class="form-group" data-bind="validationElement: picture">
			        <label for="pictureTextInput">@T("Picture"):</label>
			        <input id="pictureTextInput" class="form-control" type="text" placeholder="@T("Paste picture URL")" data-bind="value: picture" />
		        </div>
	        </div>
        </div>
        
        <div class="row">
	        <div class="col-sm-8">
		        <div class="form-group">
			        <label for="descriptionTextArea">@T("Description"):</label>
			        <textarea class="form-control" id="descriptionTextArea" data-bind="value: description"></textarea>
		        </div>
	        </div>
        </div>
        
        <div class="map-container"><iframe data-bind="
            attr: { src: getMapLink() }, 
            visible: addressesManager.items() && 
                $.grep(addressesManager.items(), function (item) { return item.id() && item.id() != 0; }).length > 0"></iframe></div>

        <div class="row" data-bind="visible: type() == @Convert.ToInt32(EntityType.Venue)">
	        <div class="col-sm-8">
		        <table class="table table-hover addresses-table" data-bind="visible: addressesManager.items() && addressesManager.items().length > 0">
			        <thead>
				        <tr>
					        <th><h4>@T("Addresses")</h4></th>
					        <th class="td-align"></th>
				        </tr>
			        </thead>
			        <tbody data-bind="template: { name: addressesManager.getItemView, foreach: addressesManager.items() }"></tbody>
		        </table>
				
                <div class="add-item-container">
                    <a data-bind="click: function() { addressesManager.addItem(); }"><span class="glyphicon glyphicon-plus-sign"></span> @T("Add Address")</a>
                </div>
	        </div>
        </div>
        
        <div class="row gap">
            <div class="col-sm-8">
                <table class="table table-hover" data-bind="visible: contactsManager.items() && contactsManager.items().length > 0">
                    <thead>
                        <tr>
                            <th>@T("Contact Type")</th>
                            <th><h4>@T("E-mail, Phone or Web-Site")</h4></th>
                            <th class="td-align"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { name: contactsManager.getItemView, foreach: contactsManager.items() }"></tbody>
                </table>
                
                <div class="add-item-container">
                    <a data-bind="click: function() { contactsManager.addItem(); }"><span class="glyphicon glyphicon-plus-sign"></span> @T("Add Contact")</a>
                </div>
            </div>
        </div>

        <div class="row double-gap action-buttons">
            <div class="col-xs-4">
        @if (Model.Id != 0) {
            using(Html.BeginForm("Delete", null, FormMethod.Get)) {
                <input type="hidden" name="entityId" value="@Model.Id" />
                <button type="submit" class="btn btn-danger" onclick="return confirm('@T("Are you sure you want to delete this " + entityTypeName.ToLower() + "?")')">@T("Delete <span class=\"hidden-xs\">" + entityTypeName + "</span>")</button>
            } 
        }
            </div>
            
            <div class="col-xs-8 text-right">
                <form method="get" action="@cancelAction">                
                    <button type="submit" class="btn btn-default">@T("Cancel")</button>
                    <button type="button" class="btn btn-success" data-bind="click: saveEntity">@actionCaption</button>
                </form>
            </div>
        </div>   
    </div> 

@using (Script.Foot())
{
    @Html.Partial("../Entity/Templates") // TODO: To put into a separate js file

<script>
    $(function() {
        var data = @Html.Raw(Json.Encode(Model));

        var settings = settings || [];
        settings = $.extend(settings, {
            pictureLengthValidationMessage: '@T("Picture url can not be longer than 255 characters.")',
            picturePatternValidationMessage: '@T("Picture url does not match url pattern.")',

            addressMessages: {
                addressLengthValidationMessage: '@T("Address can not be longer than 255 characters.")',
                addressRequiredValidationMessage: '@T("Address can not be empty!")',
                addressTipValidationMessage: '@T("Address tip can not be longer than 255 characters.")',
            },

            contactMessages: {
                contactLengthValidationMessage: '@T("Contact can not be longer than 255 characters.")',
                contactRequiredValidationMessage: '@T("Contact can not be empty!")',
                contactTitleValidationMessage: '@T("Contact title can not be longer than 255 characters.")',
                contactWebValidationMessage: '@T("Contact does not match url pattern.")',
                contactEmailValidationMessage: '@T("Contact does not match email pattern.")',
                contactPhoneValidationMessage: '@T("Contact does not match phone pattern.")',
            },

            validationUrl: '@Url.Action("ValidateModel", entityController)',
            entitySaveUrl: '@Url.Action("SaveEntity", entityController)',
            entityAfterSaveAction: function(id) {
                window.location.href = '@Url.Action("View", entityController, new { entityId = ""})/' + id;
            },

            addressView: "ViewAddressTemplate",
            addressEditView: "EditAddressTemplate",

            contactView: "ViewContactTemplate",
            contactEditView: "EditContactTemplate",
            contactTypes: ['@T("E-mail")', '@T("Web")', '@T("Phone")'],
        });

        var vmHost = new EntityViewModelExtended(settings, data);
        ko.applyBindings(vmHost, document.getElementById("@formId"));
    });
</script>
}