@using SmartWalk.Server.Records
@using SmartWalk.Server.ViewModels
@using System.Text.RegularExpressions
@model ViewParametersVm
@{
    Style.Require("SmartWalk");
    Style.Require("TextCollapse");

    Script.Require("ImageScale").AtFoot();
    Script.Require("TextCollapse").AtFoot();
    Script.Require("SmartWalk.AntiForgery").AtFoot();
    Script.Require("SmartWalk.Utilites").AtFoot();
    Script.Require("SmartWalk.ViewModels.Common").AtFoot();

    var entityVm = (EntityVm)Model.Data;
    var entityTypeName = entityVm.Type == (int)EntityType.Host ? "Organizer" : "Venue";
}

<div id="view-entity-form" get-entity-events="@Url.Action("GetEvents")">
    @Html.AntiForgeryTokenOrchard()

    <div class="bg-image-container page-header-image">
        <div class="header">
            <h2>
            @if (!Model.IsReadOnly)
            {
                <button type="button" id="btn-edit-entity" class="btn">@T("Edit " + entityTypeName)</button>
            }
                @entityVm.DisplayName
            </h2>
            @if (!string.IsNullOrEmpty(entityVm.Picture))
            {
                <img class="scale" data-scale="best-fill" data-align="center" src="@entityVm.Picture" />
            }
        </div>
			
@if (entityVm.AllAddresses.Any()) {
        <div class="info addresses-container">
            @foreach (var address in entityVm.AllAddresses) {
                <div><h4><address>@Regex.Replace(address.Address, @"\s+", " ")</address>@if (!string.IsNullOrEmpty(address.Tip)) {<i class="description">&nbsp;@address.Tip</i>}</h4></div>                        
            }
        </div>	
}
    </div>

@if (entityVm.AllAddresses.Any()) {
    var addressFirst = entityVm.AllAddresses.First();
    var query = Regex.Replace(addressFirst.Address.Replace("&", " "), @",\s+", ",");
    query = Regex.Replace(query, @"\s+", "+");
    <div class="map-container"><iframe src="https://www.google.com/maps/embed/v1/place?q=@query&key=AIzaSyAOwfPuE85Mkr-xoNghkIB7enlmL0llMgo"></iframe></div>
}
        
    <div class="row gap">
        <div class="col-md-7"><p class="description">@entityVm.Description</p></div>
        <div class="col-md-5 contact-container">
    @if (entityVm.AllContacts.Any()) {
            <div class="well">
                <h4 class="text-center">@T("Contacts and Links")</h4>
                <dl class="dl-horizontal">
        @foreach (var contact in entityVm.AllContacts)
        {
            var title = contact.Title ?? contact.Contact;                             
                             
            switch ((ContactType)contact.Type) {
                case ContactType.Url:
                    var url = contact.Contact.StartsWith("http") ? contact.Contact : string.Format("http://{0}", contact.Contact);
                    <dt>@T("web"):</dt>
                    <dd><a href="@url">@title</a></dd>
                    break;

                case ContactType.Phone:
                    <dt>@T("phone"):</dt>
                    <dd>@contact.Contact</dd>
                    break;

                case ContactType.Email:
                    <dt>@T("email"):</dt>
                    <dd><a href="mailto:@contact.Contact">@title</a></dd>
                    break;
            }
        }
                </dl>
            </div>   
    }                
        </div>
    </div>

    <table class="table table-content" data-bind="visible: EventItems().length > 0">
        <thead>
            <tr><th><h4>@T("Recent Events")</h4></th><th>@T("Date")</th></tr>
        </thead>
        <tbody data-bind='template: {name: "eventItemTemplate", foreach: EventItems() }'></tbody>
    </table>   
</div>     

@using (Script.Foot())
{
<script type="text/html" id="eventItemTemplate">
    <tr>
        <td>
            <a data-bind="attr: {href: '/event/'+Id()}, text: Title"></a>
        </td>
        <td data-bind="text: StartTime"></td>        
    </tr>       
</script>

<script type="text/javascript">
    function EventsViewModel() {
        var self = this;

        self.EventItems = ko.observableArray();

        self.loadData = function() {
            var ajdata = ko.toJSON({ entityId: @entityVm.Id });
            var urlUpdate = $("#view-entity-form").attr("get-entity-events");

            ajaxJsonRequest(ajdata, urlUpdate, function(data) {
                if (data) {
                    self.EventItems($.map(data, function(item) { return new EventViewModel(item); }));                            
                }
            });
        };

        self.loadData();
    } 

    $(function() {
        $("#btn-edit-entity").click(function() {
            window.location.href = "@Url.Action("Edit")";
        });

        ko.applyBindings(new EventsViewModel(), document.getElementById("view-entity-form"));

        $("img.scale").imageScale();
        $("p.description").textCollapse($(".contact-container").first().height());
    });
</script>
}